// Отобразите на экране 3 квадрата. Их расположение и цвет должны варьироваться в зависимости от положения и ширины экрана.</p>
// <p>Начальный HTML код находится в редакторе ниже. Его редактировать не нужно. Для написания стилей используйте <b>SASS</b> препроцессор. Переменные и миксины для медиа запросов опишите в файле <b>breakpoints.scss</b>. Все остальные стили в файле <b>index.scss</b>, который будет точкой входа для препроцессора. Препроцессор должен собрать все стили в файле <b>styles.css</b>, который лежит рядом с <b>index.html</b>.</p>
// <p><b>Основные требования:</b></p>
// <li>Как всегда, не забываем про <code>box-sizing</code></li>
// <li>Расположите <code>.container</code> по центру экрана</li>
// <li>Квадратам задайте ширину и высоту по 100px и внешние отступы 8px</li>
// <li>Цвет фона квадратов должен быть <code>#ff7f50</code> при ширине до 600px. <code>#8a2be2</code> при ширине от 600px до 899px. <code>#a61</code> при ширине от 900px до 1199px. <code>#c47</code> при ширине 1200px и больше.</li>
// <li>Квадраты должны располагаться по горизонтали в landscape (горизонтальное положение экрана) и вертикально в portrait</li>
// <p>ВАЖНО! Данную задачу проверяйте ТОЛЬКО через ссылку на ваше решение с github</p>
// <p>P.S. Проверка вашего решения может занять до 30 сек</p></div>

@import 'breakpoints.scss';

* {
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    @media screen and (orientation:portrait) {
        flex-direction: column;
     }
}
.square {
    height: 100px;
    width: 100px;
    margin: 8px;
    
@include for-extra-small {
    background-color: #ff7f50;
}
@include for-medium-up{
    background-color: #8a2be2;
}
@include for-large-up {
    background-color: #a61;
}
@include for-extra-large {
    background-color: #c47;
}



        
}