// Создайте меню сайта с выпадающим списком</p>
// <p>Визуализация задания в файле <a target="_blank" href="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson23/hw1/example.png">example.png</a></p>
// <p>Начальный HTML код находится в редакторе ниже. Его редактировать не нужно. Для написания стилей используйте <b>SASS</b> препроцессор. Стили хедера пишите в файле <b>header.scss</b>. Все остальные стили в файле <b>index.scss</b>, который будет точкой входа для препроцессора. Препроцессор должен собрать все стили в файле <b>styles.css</b>, который лежит рядом с <b>index.html</b>.</p>
// <p><b>Основные требования:</b></p>
// <li>Как всегда, не забываем про <code>box-sizing</code></li>
// <li>Шрифт документа- <code>Verdana, Geneva, Tahoma, sans-serif;</code>, <code>16px</code></li>
// <li>Высота хедера - <code>3em</code>, цвет - <code>#006400</code> </li>
// <li>Для списка сделайте отступ слева <code>3em</code> и обнулите вертикальные отступы. Весь текст должен отображаться в верхнем регистре
// <li>У элементов списка горизонтальные внутренние отступы - 8px. При наведении мыши цвет фона должен поменяться на <code>#9acd32</code>
// <li>Элемент навигации с классом <b>.menu__item_active</b> должен иметь цвет текста <code>#yellow</code></li>
// <li>Выпадающему списку обнулите все отступы, задайте цвет фона <code>#ff7f50</code> и добавьте тень (<code>box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);</code>). Цвет - текста по умолчанию - <code>#fff</code>. Минимальная ширина выпадающего меню должна быть 120px. Задайте z-index 1, чтобы меню выпадало над остальным контентом</li>
// <li>Элементы списка должны иметь внутренние отступы 8px по горизонтали. И менять цвет текста на черный при наведении курсора мыши</li>
// <li>Для всех элементов меню установите курсор <code>pointer</code></li>
// <li>Выпадающий список должен появляться при наведении мыши на элемент навигации с текстом <b>Products</b></li>
@import 'header.scss';
* {
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}