/* Начальный HTML код находится в редакторе ниже. HTML должен оставаться неизменным. Для добавления стилей используйте <b>styles.css</b></p>
<p>Визуализация задания в файле <a target="_blank" href="https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson16/hw1/example.png">example.png</a>
<p>Основные требования:
<li>Не забудьте про <code>box-sizing</code></li>
<li>Цвет фона - bisque, цвет формы - aqua. Форма располагается по центру страницы.</li>
<li>Шрифт - 16px, monospace.</li>
<li>Ширина формы - 300px, внутренние отступы - 16px, тень - 0px 4px 8px 0px rgba(0, 0, 0, 0.2);</li>
<li>Заголовок формы заглавными буквами и по центру</li>
<li>Блок с инпутом отступает от нижнего на 8px</li>
<li>Лейбл отступает от инпута снизу на 4px</li>
<li>Инпут на всю шрину формы, высота - 32px, радиус уголков - 4px, граница 1px, цвет - <code>#808080</code>. У инпута есть внутренний отступ 4px, <code>outline: none</code></li>
<li>Если инпут не удовлетворяет атрибуты валидации, он должен обводиться <code>#ff0000</code> границей 3px</li>
<li>Кнопка на всю ширину, 32px в высоту, цвет - <code>#ff7f50</code>, отступает сверху на 16px. Текст кнопки в верхнем регистре, белого цвета. Радиус уголков - 4px. */
* {
    box-sizing: border-box;
}
.page {
    font-family: monospace ;
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.login-form {
    display: block;
    background-color: aqua;
    width: 300px;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.form-title {
    text-transform: uppercase;
    text-align: center;
}
.form-control{
    margin-bottom: 8px;
}
.form-label {
    margin-bottom: 4px;
}
.form-input {
    width: 100%;
    height: 32px;
    border: 1px solid #808080;
    border-radius: 4px;
    outline: none;
    padding: 4px;
}
.submit-button {
    height: 32px;
    width: 100%;
    margin-top: 16px;
    background-color: #ff7f50;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
}
.form-input:invalid {
    border: 3px solid #ff0000;
}