/* <ol>
    <li>Уберите точки перед элементам списка</li>
    <li>Размер шрифта элементов списка должен быть в 1.5 раза больше, чем размер шрифта секции, где он находится (используйте относительные величины)</li>
    <li>Подчеркните последний элемент списка зеленой линией</li>
    <li>Зачеркните второй элемент списка</li>
    <li>Отобразите красную линию над первым элементом списка</li>
</ol> */
ul {
    list-style-type: none;
    font-size: 1.5em;
}
.first {
    text-decoration: red overline;
}
.second {
    text-decoration: line-through;
}
.third {
    text-decoration: green underline;
}