/* Задайте всему документу размер шрифта 18px</li>
    <li>Задайте элементам списка цвет текста <code>#f39</code>, размер шрифта 24px, высоту строки 32px и внутренние отступы 8px</li>
    <li>Уберите точки перед элементами списка */

html {
    font-size: 18px;

    }
ul {
    list-style-type: none;
    color: #f39;
    font-size: 24px;
    line-height: 32px;

}  
ul li {
    padding: 8px;
}