@import 'variables.scss';
.header {
    
    background-color: $color-gray;
    &__navigation {
        height: $unit * 7;

        .nav-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            height: 100%;
            font-weight: 700;
            color: $text-color-secondary;
            
            &__item {
                background-color: $color-secondary;
                padding: $unit;
                margin-left: $unit ;
                border-radius: $border-radius;
                &_selected {
                    background-color: $color-primary;
                }
                &:hover {
                    opacity: 0.7 ;
                }


                 
            }
        }
    }

}

