/* <ol>
    <li>Задай элементам с классом <code>.block</code> высоту 100px</li>
    <li>Элементы должны располагаться по горизонтали и заполнять всю ширину</li>
    <li>Каждый блок должен растягиваться по ширине, но не сжиматься меньше 100px (минимальная ширина блока должна быть 100px)</li> 
    <li>Если блоки не помещаются в строку - они должны перемещаться в следующую линию (при этом сохранив минимальную ширину 100px)</li>
</ol> */
div.block {
    background-color: coral;
    margin: 8px;
  }
.container {
    display: flex;
    justify-content: ;
    flex-wrap: wrap;
}

.block {
    height: 100px;
    min-width: 100px;
    flex-shrink: 0;
    flex-grow: 1;
    

}