/* Картинки должны располагаться по горизонтали в одну линию. Если картинки не помещаются по ширине, то должен появиться только горизонтальный скролл. Пока картинки помещаются по ширине на экран, скролла быть не должно</li>
    <li>Каждой картинке дайте внешний отступ 8px</li>
    <li>На всей странице скролла быть не должно</li>
    <li>Курсор мышки при наведении на галерею должен быть <code>all-scroll</code></li> */
    body {
        width: 100%;
    }
    .gallery {
        display: flex;
        overflow-x: auto;
        cursor: all-scroll;
    }
    img {
        margin: 8px;
    }