/*  <li>При уменьшении ширины экрана, таблица должна скролиться. При этом на всей странице скролл появиться не должен</li>
    <li>Задайте всем строкам высоту 40px</li>
    <li>Внутренние отступы для ячеек задайте 4px</li>
    <li>Подсветите все нечетные строки внутри tbody #f2f2f2 цветом</li>
    <li>При наведении мыши на строки внутри tbody должны подсвечиваться #aaa цветом, цвет текста меняться на <b>white</b></li>
    Фон заголовка сделайте <b>aqua</b>
    Текст в футере таблицы должен иметь насыщенность 700
    Подписи таблицы дайте отступ снизу 8px */
* {
    box-sizing: border-box;
}
div {
    overflow-x: auto;
}
table {
    width: 500px;
    margin: 16px;
    border: 1px solid black;
    text-align: right;
    border-collapse: collapse;
    box-sizing: border-box;
}
tr {
    

}
td, th{
    border: 1px solid black;
    padding: 4px;
    line-height: 31px
}
thead {
    background-color: aqua;
}
tbody > tr:nth-child(odd) {
    background-color: #F2F2F2;
}
tbody > tr:hover {
    background-color: #aaa;
    color: white;
}
tfoot {
    font-weight: 700;
}
caption {
    margin-bottom: 8px;
    
}