.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  $color-light-blue;
    padding: 46px 15px 46px 15px;
   
    @include for-large-up {
        flex-direction: row;
        width: 1400px;
        height: 255px;
        justify-content: space-between;
        padding: 77px 130px 76px 130px;
    }
}
.article {
    font-size: 22px;
    line-height: 32px;
    
    @include for-large-up {
        width: 555px;
        height: 102px;
    }
    &:first-of-type {
        margin-bottom: 20px;

        @include for-large-up {
            margin-bottom: 0;
        }
    }
    &__title {
        font-weight: 700;
        margin: 0 0 6px 0;
    }
    &__text {
        margin: 0;
    }
}

