.audience {
    padding: 50px 15px;
    background-color: $color-aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
     @include for-large-up {
        padding: 110px 0;
     }
    &__subtitle {
        width: 168px;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
        margin: 0;
    }
    &__title {
        margin: 17px 0 0 0;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
    
        @include for-large-up {
            height: 112px;
            width: 555px;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
            margin: 24px 0 0 0;
        }
    }
    &__description {
        margin: 18px 0 0 0;
        font-size: 24px;
        line-height: 34px;
        text-align: center;

        @include for-large-up {
            width: 555px;
            height: 72px;
            margin: 30px 0 4px 0;
        }
    }
    &__user-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1245px;
        margin: 40px 0 0 0 ;
        

        @include for-large-up {
            flex-direction: row;
            width: 1139px;
            height: 300px;
            margin: 111px 0 0 0;
        }
    }
}
.user-card {
    height: 300px;
    width: 290px;
    display: flex;
    flex-direction: column;
    background-color: $color-white;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: $border-radius-l;
    margin:0;


    @include for-large-up {
        width: 262px;
    }
    &:hover {
        cursor: pointer;
        color: $color-white;
        background-color: $color-blue;
    }
    &__image {
        display: block;
        height: 195px;
        margin: 22px auto;
    }
    &__caption {
        margin-bottom: 33px;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
    }
}
