.features {
    padding:  0 130px;
    height: 602px;
    margin-bottom: 102px;
    position: relative;
    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: #009B4D;
        margin: 0 0 24px 0;
    }
    &__title {
        margin: 0 0 30px 0;
        height: 112px;
        width: 462px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }
    &__description {
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 42px 0;
        width: 461px;
        height: 102px;

    }
    &__advantage-title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #3142C6;
        margin: 0 0 8px 39px;
        position: relative;
        width: 418px;
        
        &::before {
            display: inline-block;
            content: '' ;
            width: 24px;
            height: 24px;
            background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-compas.png);
            margin-right: 15px;
            position: absolute;
            left: -39px;
        }
        &::after {
            display: inline-block;
            content: '' ;
            height: 3px;
            width: 457px;
            background-color: #3142C6;
            position: absolute;
            top: 104px;
            left: -39px;


        }
    }
    &__advantage {
        width: 459px;
        height: 90px;
        font-size: 18px;
        line-height: 26px;
        margin: 0;
        position: relative;
        display: block;
    }

    &__text {
        display: block;
        margin: 0 0 44px 38px;
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        position: relative;
        &:first-of-type::before {
            display: inline-block;
            content: '' ;
            width: 24px;
            height: 24px;
            margin-right: 15px;
            position: absolute;
            left: -39px;
            background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-building.png);
        }
        &:last-of-type::before {
            display: inline-block;
            content: '' ;
            width: 24px;
            height: 24px;
            margin-right: 15px;
            position: absolute;
            left: -39px;
            background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-bucket.png);
            }
        &::after {
            display: inline-block;
            content: '' ;
            height: 1px;
            width: 457px;
            background-color: #2b292d;
            opacity: 0.15;
            position: absolute;
            top: 50px;
            left: -39px;
            
        }

    }
    &__img_hidden-ouch {
        position: absolute;
        top: 258px;
        left: 0;
    }
    &__img_invision-screen {
        position: absolute;
        right: 0;
        bottom: 0;   
    }


}