.feedback {
    padding: 39px 15px 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border;
    position: relative;

    @include for-large-up {
        padding: 0 0 67px 0;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $text-color-blue;
        margin: 0;

    }
    &__text {
        font-size: 24px;
        line-height: 34px;
        margin: 29px 0 0 0;

        @include for-large-up {
            margin: 28px 0 0 0 ;
            width: 750px ;
            height: 102px;
            text-align: center;
            
        }
    }
    &__author-name {
        width: 100%;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin: 32px 0 0 0;

        @include for-large-up {
            text-align: center;
            margin: 34px 0 0 0;
        }
    }
    &__author-title {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        opacity: 0.6;
        
        @include for-large-up {
            text-align: center;
        }
    }
    &__navigation {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 40px 0;

        @include for-large-up {
            padding: 38px 0 0 0;
        }
    }
    &__illustration {
        display: block;
        max-width: 100%;
        

        @include for-large-up {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

}
.dot-nav {

    &__item {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $text-color-main;
        opacity: 0.2;
        margin-left: 19px;

        @include for-large-up {
            width: 8px;
            height: 8px;
            margin-left: 13px;
        }
        &_selected {
            background-color: $color-blue;
            opacity: 1;
        }
        &:first-of-type {
            margin-left: 0;

        }
    }
}