
.headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 35px 15px 0 15px;

    @include for-large-up {
        width: 100%;
    
        // margin-top: 76px;
        padding: 76px 25px 77px 126px;
    }
    &__title {
        margin: 0;
        z-index: 1;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        width: 290px;

        @include for-large-up {
            margin: 0;
            font-size: 80px;
            line-height: 78px;
            letter-spacing: -0.5px;
            width: 754px;
            height: 165px
        }
    }
    &__description {
        z-index: 1;
        margin: 24px 0 0 0;
        width: 290px;
        font-size: 24px;
        line-height: 34px;

        @include for-large-up {
            margin: 34px 0 0 0;
            width: 456px;
            height: 102px;
        }
        
    }
    &__buttons {
        height: 111px;

        @include for-large-up {
            height: 48px;
            margin-top: 58px;
        }
    }
    &__banner {
        max-width: 100vw;
        margin-bottom: 36px;
        margin: 33px -15px 36px -15px;
        @include for-large-up {
            position: absolute;
            width: 796px;
            height: 448px;
            top: 84px;
            right: 25px;
            margin: 0px;
        }
    }
    
}
