.header {
    width: 100%;
    height: 64px;
    margin: 0 0 35px 0;
    display: flex;
    justify-content: start;
    background-color: $color-white;

    @include for-large-up {
        width: 1140px;
        height: 62px;
        background-color: $color-pink;
        margin: auto;
        
    }
    &__button {
        display: none;

        @include for-large-up {
            display: block;
            margin-top: 7px;
            margin-right: 0;
        }
    }
    &__nav {
        margin-left: auto;
        border: none;
        border-left: 1px solid $color-black;
        opacity: 0.15;
        width: 58px;
        background-color: $color-white;
        padding: auto;
        
        @include for-large-up {
            display: none;
        }
        
    }
}
.navigation {
    display: none;

    @include for-large-up {
        display: block;
        justify-self: end;
        margin-top: 18px;
        margin-right: 56px;
        margin-left: auto;
        &__item {
            color: $text-color-main;
            text-decoration: none;
            line-height: 25px;
            font-size: 18px;
            margin-right: 50px;
            &_selected {
                font-weight: 700;
            }
            &:last-of-type {
                margin-right:0;
            }
        }
        &__arrow {
            height: 5px;
            width: 8px;
            margin-left: 11px;
            display: inline-block;
            background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
        }
    }

}
.logo {
    display: flex;
    align-items: center;
    &__text {
        display: flex;
        flex-direction: column;
        line-height: 25px;
        justify-content: center;
        margin-left: 9px;
    }
    &__img {
        height: 48px;
        margin-left: 15px;

        @include for-large-up {
            height: 60px;
        }
        
    }
    &__name {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
    }
    &__description {
        display: none;

        @include for-large-up {
            display: block;
            font-size: 18px;
            opacity: 0.6;
        }
    }
} 



