.hiring {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-large-up {
        padding: 106px 0 110px 0;
    }

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;
        margin: 0;

        @include for-large-up {
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        margin: 18px 0 0 0;
        
        @include for-large-up {
            width: 555px;
            height: 72px;
            margin: 20px 0 0 0;
        }
    }
    &__button {
        margin-top: 30px;

        @include for-large-up {
            margin-top: 28px;
            width: 247px;
        }
    }
    &__vacancies {
        margin: 39px 0 0 0;
        
        @include for-large-up {
            margin: 110px 0 0 0;
        }
    }
    &__vacancy {
        margin-top: 15px;

        @include for-large-up {
            margin-top: 20px;
        }
        &:first-of-type {
            margin-top: 0;
        }

    }
    
}
.vacancy {
    width: 290px;
    height: 140px;
    border: $border-grey;
    border-radius: $border-radius-l;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: $text-color-main;
    overflow: hidden;
    cursor: pointer;

    @include for-large-up {
        width: 750px;
        height: 81px;
        &:hover {
            background-color: $color-blue;
            color: $color-white;
            .vacancy__location {
                color: $color-white;
                opacity: 1;
            }
            .icon-arrow-right {
                background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png');
            }
        }

    }

    &__details {
        width: 100%;
        padding: 20px 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include for-large-up {
            flex-direction: row;
            align-items: center;
            padding: 25px 26px;
            justify-content: start;

        }
        
    }
    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;

        @include for-large-up {
            width: 408px;
        }
    }
    &__location {
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        opacity: 0.6;

        @include for-large-up {
            margin-left: 20px;
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__arrow-container {
        width: 50px;
        height:100% ;
        background-color: $color-purpul-light;
        display: flex;
        justify-content: center;
        align-items: center;

        @include for-large-up {
            width: 55px;
            background-color: transparent;
        }
    }
    .icon-arrow-right {
        display: block;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png');
        height: 12px;
        width: 7px;
    }


}