.inbox {
    width: 100%;
    padding: 50px 15px;
    background-color:$color-orange-light;
    display: flex;
    flex-direction: column;

    @include for-large-up {
        flex-direction: row;
        padding: 0 99px 0 193px;
    }
    &__illustration {
        margin: 0;

        @include for-large-up {
            margin: 142px 0 101px 0;
        }
       
    }
    &__image {
        max-width: 100%;
    }
    &__caption {
        display: none;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        opacity: 0.6;
        margin: 15px 0 0 0;
        
        @include for-large-up{
            display: block;

        }
    }
    &__details {
        margin: 0;

        @include for-large-up {
            margin: 115px 0 0 164px;
            width: 519px;
        }
    }
    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        margin: 18px 0 0 0;

        @include for-large-up {
            margin: 30px 0 0 30px;
            width: 461px;
            height: 102px;
        }


    }
    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;
        color: $text-color-orange;
        margin: 32px 0 0 0;

        @include for-large-up {
            margin: 0 0 0 30px;
            
        }
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 17px 0 0 0;

        @include for-large-up {
            margin: 24px 0 0 30px;
            font-size: 56px;
            line-height: 56px;
            letter-spacing: -0.5px;
            width: 462px;
            height: 112px;
        }
    }

}
.review {
    background-color: $color-white;
    margin: 30px 0 0 0;
    padding: 30px 20px;
    box-shadow: $box-shadow ;
    border-bottom: $border-aqua;

    @include for-large-up {
        margin: 44px 0 0 0;
        padding: 30px 30px 28px 30px;
    }
    &__text {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
        &-selection {
            font-weight: 700;
        }
    }
    &__author {
        margin: 26px 0 0 0;
        display: flex;

        @include for-large-up {
            width: 225px;
            height: 44px;
        }


    }
    &__author-image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 2px 0 0 0 ;
    }
    &__author-title {
        font-size: 16px;
        line-height: 22px;
        width: 199px;
        height: 66px;
        margin: 0 0 0 11px;
    }
    &__author-name {
        font-weight: 700;
    }
}