.order {
    background-color: #F4F5F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
    height: auto;

    @include for-large-up {
        flex-direction: row;
        justify-content: start;
        height: 441px;
        padding: 73px 230px 72px 224px;
    }
    &__illustration {
        width: 200px;
        margin: 0 0 40px 0;
        @include for-large-up {
            width: 269px;
            height: 296px;
            margin: 0;
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include for-large-up {
            // max-width: 555px;
            align-items: start;
            padding: 33px 0 33px 122px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.25px;
        margin: 0 0 18px 0 ;
        @include for-large-up {
            margin: 0 ;
        }
    }
    &__text {
        font-size: 22px;
        line-height: 32px;
        margin: 0 0 40px 0 ;
        height: 167px;


        @include for-large-up {
            margin: 12px 0 0 ;
            height: 64px;
            width: 500px;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;

        @include for-large-up {
            flex-direction: row;
            margin-top: 26px;
        }
    }
    &__email {
        width: 290px;
        height: 48px;
        padding: 0;
        display: block;
        background: #FFFFFF;
        border: 1px solid #32293c33;
        border-radius: 2px;
        margin: 0;

        @include for-large-up {
            width: 385px;
            margin: 0 10px 0 0;
            padding: 0 0 0 15px;
        }
        &::placeholder {
            font-size: 18px;
            line-height: 13px;
            text-align: center;
            color: #2B292D;
            @include for-large-up {
                text-align: left;
            }
        }
    }
    &__button {
        width: 290px;
        height: 48px;
        margin: 12px 0 0 0;

        @include for-large-up {
            margin: 0;
            width: 160px;
        }
    }
    &__terms {
        margin: 10px 0 0 0;
        font-size: 14px;
        line-height: 22px;
        color: rgba(43, 41, 45, 0.6);
    }
    &__terms-link {
        text-decoration-line: underline;
        color: #3142C6;
    }       
}